.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-item {
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-logo {
  color: #2e2f42;
}

.list-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero-section {
  background-color: #2e2f42;
}
.address {
  line-height: 1.5;
  letter-spacing: 0.002em;
  color: #434455;
}

.title-hthree {
  color: #2e2f42;
}
.paragraph-hthree {
  color: #434455;
}
