.logo {
  color: #4d5ae5;
}
.info {
}
.hero-section {
  background-color: #2e2f42;
}
.button-hero:hover,
.button-hero:focus {
  color: var(#404bbf);
}
.title-hthree {
  color: #2e2f42;
}
.paragraph-hthree {
  color: #434455;
}
