body {
  color: #434455;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.span-logo {
  color: #2e2f42;
}
.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  list-style: none;
}

.title-htwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph-htwo {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}
.footer {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
